<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 引入jedis的properties配置文件 -->
    <!--如果你有多个数据源需要通过<context:property-placeholder管理，且不愿意放在一个配置文件里，那么一定要加上ignore-unresolvable=“true"-->
	<import resource="classpath:resource/comConf/CommonConfig.xml" />
    <context:property-placeholder location="classpath:redis.properties" ignore-unresolvable="true" />
    	
    <bean id="MainServer" class="com.purefun.fstp.core.server.monitor.MonitorService">  
    	<!--  <constructor-arg name="serverName" value="MonitorService"></constructor-arg>-->
        <constructor-arg name="isServer" value="true"></constructor-arg>
        <constructor-arg name="zmqport" value="5555"></constructor-arg>
   		<property name="boDestinationMap">   
       		<map>
       			<entry key="com.cicc.pilot.core.bo.TestBO"    		value="pilot.core.rpc.testone"/>
       			<entry key="com.cicc.pilot.core.bo.TestBO2"   		value="pilot.core.rpc.testtwo"/>
       			<entry key="com.cicc.pilot.core.bo.TestBO3"   		value="pilot.core.xxx.testtwo"/>    			
       		</map>
       </property>          
   	</bean>
   	   	
</beans>