<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<import resource="classpath*:comConf/CommonConfig.xml" />
	<import resource="DBConfig.xml" />

    <bean id="MainServer" class="com.purefun.fstp.ace.rds.server.StockRDS">  
        <constructor-arg name="isServer" value="true"></constructor-arg>  
        <property name="cacheType" value="ignite"/>
        <property name="managerBOMap">
        	<map>
        		<entry key="fstp.ace.rds.server.stock"    		value="com.purefun.fstp.core.bo.RDSStockBO"/>
        	</map>
        </property>
        
        <property name="sourceQns" value="fstp.ace.rds.source.stock"/><!-- 订阅的从loader发来BO  topic -->
        <property name="source2rdsMap">
        	<map>
        		<description>key->rdsBO,value->sourceBO</description>
       			<entry key="product_id"    		value="secu_id"/>
       			<entry key="secu_name_cn"   	value="secu_chinese_name"/>
       			<entry key="secu_name_en"   	value="secu_english_name"/> 
       			<entry key="exch_type"   		value="exch_type"/>
       			<entry key="secu_type"   		value="secu_type"/>
       			<entry key="secu_sub_type"   	value="secu_sub_type"/>
       			<entry key="currency"   		value="currency"/>
       			<entry key="list_date"   		value="list_date"/>
       			<entry key="buy_unit"   		value="buy_unit"/>
       			<entry key="sell_unit"   		value="sell_unit"/>
       			<entry key="trade_low_limit"   	value="trade_low_limit"/>
       			<entry key="trade_high_limit"  	value="trade_high_limit"/>
       			<entry key="pre_close_price"   	value="pre_close_price"/>
       			<entry key="tick_price"   		value="tick_price"/>
       			<entry key="price_high_limit"   value="price_high_limit"/>
       			<entry key="price_low_limit"   	value="price_low_limit"/> 
       			<entry key="ex_right_ratio"   	value="ex_right_ratio"/> 
       			<entry key="dividend_price"   	value="dividend_price"/> 
       			<entry key="financing_flag"   	value="financing_flag"/> 
       			<entry key="margin_flag"   		value="margin_flag"/> 
       			<entry key="secu_status"   		value="secu_status"/> 
       			<entry key="memo"   			value="memo"/> 			
       		</map>
       	</property>
   	</bean> 
   	
   	<bean id="rdscache" class="org.apache.ignite.configuration.CacheConfiguration">  
         <property name="name" value="com.purefun.fstp.core.bo.RDSStockBO"></property>  
         <property name="indexedTypes">
               <array>
                    <value>java.lang.String</value>
                    <value>com.purefun.fstp.core.bo.RDSStockBO</value>
               </array>
         </property>  
    </bean>  
    
    <bean id="cacheConfigurationList" class="java.util.ArrayList">
  		<constructor-arg>
	  		<list>
                <bean class="org.apache.ignite.configuration.CacheConfiguration">
	  			 	<property name="name" value="com.purefun.fstp.core.bo.RDSStockBO"></property>  
         			<property name="indexedTypes">
               			<array>
                    		<value>java.lang.String</value>
                    		<value>com.purefun.fstp.core.bo.RDSStockBO</value>
               			</array>
         			</property>  
                </bean>
	  		</list>
	  	</constructor-arg>
  	</bean>	
</beans>