<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<import resource="classpath*:comConf/CommonConfig.xml" />
    	
    <bean id="MainServer" class="com.purefun.fstp.core.server.monitor.MonitorService">  
    	<!--  <constructor-arg name="serverName" value="MonitorService"></constructor-arg>-->
        <constructor-arg name="isServer" value="true"></constructor-arg>
        <property name="cacheType" value="ignite"/>
   		<property name="boDestinationMap">   
       		<map>
       			<entry key="com.purefun.fstp.core.bo.TestBO"    		value="fstp.core.rpc.testone"/>
       			<entry key="com.purefun.fstp.core.bo.TestBO2"   		value="fstp.core.rpc.testtwo"/>
       			<entry key="com.purefun.fstp.core.bo.TestBO3"   		value="fstp.core.rpc.testthree"/>    			
       		</map>
       </property>  
       <property name="managerBOMap">
        	<map>
        		<entry key="fstp.core.rpc.testtwo"    		value="com.purefun.fstp.core.bo.TestBO2"/>
        	</map>
       </property>
      
   	</bean>
   	   	
</beans>