<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 引入jedis的properties配置文件 -->
    <!--如果你有多个数据源需要通过<context:property-placeholder管理，且不愿意放在一个配置文件里，那么一定要加上ignore-unresolvable=“true"-->
	<import resource="classpath:resource/comConf/CommonConfig.xml" />
	<import resource="DBConfig4.xml" />
    <context:property-placeholder location="classpath:redis.properties" ignore-unresolvable="true" />
	
    <bean id="MainServer" class="com.purefun.fstp.ace.rds.server.StockRDS">  
        <constructor-arg name="isServer" value="true"></constructor-arg>  
        
        <property name="sourceQns" value="fstp.ace.rds.source.stock"/>
        <property name="source2rdsMap">
        	<map>
        		<description>key->rdsBO,value->sourceBO</description>
       			<entry key="product_id"    		value="secu_id"/>
       			<entry key="isin"   		    value="isin"/>
       			<entry key="recv_time"   		value="record_update_time"/>  
       			<entry key="secu_name_cn"   	value="secu_chinese_name"/>
       			<entry key="secu_name_en"   	value="secu_english_name"/> 
       			<entry key="secu_base_id"   	value="secu_base_id"/>
       			<entry key="exch_type"   		value="exch_type"/>
       			<entry key="secu_type"   		value="secu_type"/>
       			<entry key="secu_sub_type"   	value="secu_sub_type"/>
       			<entry key="currency"   		value="currency"/>
       			<entry key="bond_par_value"   	value="bond_par_value"/>
       			<entry key="last_trade_date"   	value="last_trade_date"/>
       			<entry key="list_date"   		value="list_date"/>
       			<entry key="buy_unit"   		value="buy_unit"/>
       			<entry key="sell_unit"   		value="sell_unit"/>
       			<entry key="trade_low_limit"   	value="trade_low_limit"/>
       			<entry key="trade_high_limit"  	value="trade_high_limit"/>
       			<entry key="pre_close_price"   	value="pre_close_price"/>
       			<entry key="tick_price"   		value="tick_price"/>
       			<entry key="price_limit_type"  	value="price_limit_type"/>
       			<entry key="price_high_limit"   value="price_high_limit"/>
       			<entry key="price_low_limit"   	value="price_low_limit"/> 
       			<entry key="ex_right_ratio"   	value="ex_right_ratio"/> 
       			<entry key="dividend_price"   	value="dividend_price"/> 
       			<entry key="financing_flag"   	value="financing_flag"/> 
       			<entry key="margin_flag"   		value="margin_flag"/> 
       			<entry key="secu_status"   		value="secu_status"/> 
       			<entry key="memo"   			value="memo"/> 			
       		</map>
       	</property>
   	</bean>   	
</beans>