<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<import resource="classpath*:resource/comConf/CommonConfig.xml" />
   	
    <bean id="MainServer" class="com.purefun.fstp.ace.rds.loader.ExchRDSLoader">  
    	<!--  <constructor-arg name="serverName" value="MonitorService"></constructor-arg>-->
        <constructor-arg name="isServer" value="true"></constructor-arg>
        
        <property name="secuMap">   
       		<map>
       			<entry key="STOCK"    		value="1"/>
       			<entry key="FUND"   		value="0"/>
       			<entry key="REPO"   		value="0"/>  
       			<entry key="BOND"   		value="0"/>
       			<entry key="OPTION"   		value="0"/>  			
       		</map>
       </property>   
       <property name="filesFactory" ref="filesfactory"/> 
       <property name="dict" ref="dictionary"/>           
   	</bean>
   	
   	<bean id="filesfactory" class="com.purefun.fstp.ace.rds.loader.FileLoaderFactory"> 
   	   <property name="exchFilesPath" value="C:\Users\jianghan\Desktop\exchfiles\"/>
   	   <property name="fileMap"> 
   	    	<map>
       			<entry key="cpxx"    		value="mmdd,txt,\|"/> 			
       		</map>
       </property>       
   	</bean>
   	
   	<bean id="dictionary" class="com.purefun.fstp.ace.rds.dict.Dictionary">
   		<property name="secu_type" >
   			<map>
       			<entry key="ES"    		value="STOCK"/> 
       			<entry key="EU"    		value="FUND"/>
       			<entry key="D"    		value="BOND"/>
       			<entry key="RWS"    	value="WARRENT"/>	
       			<entry key="FF"    		value="FUTURE"/>		
       		</map>
       </property>
       <property name="secu_subtype" >
   			<map>
       			<entry key="GBF"    		value="Treasury Bond"/> 
       			<entry key="GBZ"    		value="Treasury Zero-coupon Bond"/>
       			<entry key="DST"    		value="Treasury Distribution Bond"/>
       			<entry key="DVP"    		value="Corporation Distribution Bond"/>	
       			<entry key="CBF"    		value="Corporation Bond"/>
       			<entry key="CCF"    		value="Corporation Convertible Bond"/>
       			<entry key="FBF"    		value="Financial Bond"/>
       			<entry key="CRP"    		value="Pledge Treasury Bond Repo"/>
       			<entry key="BRP"    		value="Pledge Corporation Bond Repo"/>
       			<entry key="ORP"    		value="Outright Repo"/>
       			<entry key="CBD"    		value="Separate Convertible Bond"/>	
       			<entry key="OBD"    		value="Other Type Bond"/>	
       			
       			<entry key="CEF"    		value="Close-end Fund"/>	
       			<entry key="OEF"    		value="Open Fund"/>	
       			<entry key="EBS"    		value="Exchange Trading Fund"/>	
       			<entry key="FBL"    		value="Multiply Market Fund"/>	
       			<entry key="OFN"    		value="Other Fund"/>	
       			
       			<entry key="ASH"    		value="A-Stock"/>
       			<entry key="BSH"    		value="B-Stock"/>
       			<entry key="CSH"    		value="H-Stock"/>
       			<entry key="OEQ"    		value="Other-Stock"/>
       			<entry key="CIW"    		value="Corporation Warrent"/>
       			<entry key="COV"    		value="Preparation Warrent"/>
       			<entry key="FEQ"    		value="Stock Future"/>	
       			<entry key="FBD"    		value="Bond Future"/>	
       			<entry key="OFT"    		value="Other Future"/>	
       			<entry key="AMP"    		value="Collective Asset Management"/>	
       			<entry key="WIT"    		value="Treasury Bond Pre Issue"/>
       			<entry key="LOF"    		value="List-On Fund"/>
       			<entry key="OPS"    		value="Open Preferred Stock"/>
       			<entry key="PPS"    		value="Private Preferred Stock"/>
       			<entry key="QRP"    		value="Quote Repo"/>		      				
       		</map>
       </property>
   	</bean>
   	   	
</beans>